:root{
    --branco-natural:#FFFFFF;
    --azuleto:#167BF7;
    --cor-de-fundo:#040814;
    --branco-seco:#C0C0C0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-natural);
}

.container{
    height:300vh;
    display: grid;
    grid-template-columns: 50% 50%;

}
.container_botao{
    background-color:var(--azuleto);
    border-radius: 10px;
    padding: 1em;
    color: var(--branco-natural);
    display:block ;
    text-decoration: none;
}