:root{
    --branco-natural:#FFFFFF;
    --azuleto:#167BF7;
    --cor-de-fundo:#040814;
    --branco-seco:#C0C0C0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-natural);
}